<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdministradorServlet</servlet-name>
        <servlet-class>Servlets.AdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoServlet</servlet-name>
        <servlet-class>Servlets.CursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>Servlets.AlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorServlet</servlet-name>
        <servlet-class>Servlets.ProfesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActividadServlet</servlet-name>
        <servlet-class>Servlets.ActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnuncioServlet</servlet-name>
        <servlet-class>Servlets.AnuncioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsistenciaServlet</servlet-name>
        <servlet-class>Servlets.AsistenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorarioServlet</servlet-name>
        <servlet-class>Servlets.HorarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagosServlet</servlet-name>
        <servlet-class>Servlets.PagosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaboratorioServlet</servlet-name>
        <servlet-class>Servlets.LaboratorioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibroServlet</servlet-name>
        <servlet-class>Servlets.LibroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatriculaServlet</servlet-name>
        <servlet-class>Servlets.MatriculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaServlet</servlet-name>
        <servlet-class>Servlets.NotaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecursosServlet</servlet-name>
        <servlet-class>Servlets.RecursosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorServlet</servlet-name>
        <url-pattern>/AdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoServlet</servlet-name>
        <url-pattern>/CursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorServlet</servlet-name>
        <url-pattern>/ProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActividadServlet</servlet-name>
        <url-pattern>/ActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnuncioServlet</servlet-name>
        <url-pattern>/AnuncioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsistenciaServlet</servlet-name>
        <url-pattern>/AsistenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorarioServlet</servlet-name>
        <url-pattern>/HorarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagosServlet</servlet-name>
        <url-pattern>/PagosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaboratorioServlet</servlet-name>
        <url-pattern>/LaboratorioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibroServlet</servlet-name>
        <url-pattern>/LibroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatriculaServlet</servlet-name>
        <url-pattern>/MatriculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaServlet</servlet-name>
        <url-pattern>/NotaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecursosServlet</servlet-name>
        <url-pattern>/RecursosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/Login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
